head, body{

    height: 100%;
    width: 100%;
    background: url("photo-1496181133206-80ce9b88a853.jpg") no-repeat center center fixed; 
    background-size: cover;
}

.btn{
    border-radius: 300px;
    

}
.btn-danger:hover{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
.buffer{
    height:100px;
}
.container{
    padding-top: 300px;
}
h1{
    color: aliceblue;
}